/**
*font-family: 'Indie Flower', cursive;
*font-family: 'Staatliches', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Cookie', cursive;
font-family: 'Suez One', serif;
**/
body {
	background-image: linear-gradient(to bottom, rgba(255, 182, 193, 0.1), rgba(255, 182, 193, 1)), url("#");
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	background-image: linear-gradient(to top, rgba(255, 182, 193, 0.9), rgba(255, 182, 193, 0.1));
}
.navbar {
	background-color: rgba(255, 182, 193, 0.9);
}

.after-nav {
	background-image: linear-gradient(to bottom, rgba(255, 182, 193, 0.9), rgba(255, 182, 193, 0.1));
}

footer {
	opacity: 0.5;
}

a.navbar-brand, a.nav-link.dropdown-toggle, .contact-wrapper, a > i {
	color: whitesmoke;
}

a.nav-link.dropdown-toggle:active, a.nav-link.dropdown-toggle:focus {
	background-color: hotpink;
}

div.dropdown-menu.dropdown-item {
	background-color: hotpink;
}
/**
section.container.p-2,
 */
.contact-wrapper {
	background-color: rgba(182, 177, 177, 0.6);
}

div.card {
	border-width: 1rem;
	border-color: rgba(156, 156, 156, 0.6);
}

.fake-logo {
	width: 100vw;
}

.contact-wrapper {
	border-radius: 1.25rem;
}

i {
	color: white;
}

a > i {
	font-size: 40px;
}

button.btn {
	color: whitesmoke;
}